body{
    font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
margin-left: 5%;
margin-right: 5%;
text-decoration: none;
}



.orange{
    color: orange;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
    
}
 
}
.half-width{
    width: 10%;
    padding-left: 5%;
   
   
}
.half-width img{
    width: 60%;
    
}
.link-button{
    background-image: linear-gradient(orange,rgb(194, 33, 4));
     text-decoration: none;
     padding: 10px 40px;
     color:white;
 }


 .mission{
     text-align: center;
     
 }
 .my-mission{
    width: 40%;
    margin-left: 1%;
    margin-right: 2%;
    padding-left: 5px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid rgba(230, 12, 12, 0.034);
    border-radius: 25px;
 }
 .line{
    border-left:3px solid rgb(158, 6, 6);
    border-left: 10%;
    padding: 10px;
    
    
 }
 .box{
     background-color: rgb(217, 248, 248);
 }
 .box1{

    background-color: rgb(214, 230, 198);
    
 
 }
 .box2{
    background-color: rgb(253, 244, 244);
    
 }
 .space{
     margin-right: 10%;
     
 }
 .footer{
     text-align: center;
    background-color: black;
    color: white;
    
 }